.about-hero{
    height: 40vh;
    margin: 0 10px;
}

.about-section-title{
    border-bottom: #00B1FF 2px solid;
    width: 10%;
    font-size: 1em;
    margin-left: 10px;
}

.about-hero-stmt{
    width: 85%;
    font-size: 1.2em;
}

.me{
    height: 200px;
    width: 90%;
    background-color: black;
    margin: 0 auto;
}

.about-me{
    margin: 150px 10px 0 10px;
}

.unrelated-facts{
    margin: 20px 10px 20px 10px;
}


@media only screen and (min-width: 500px){
    .about-section-title{
        width: 7%;
    }
}

@media only screen and (min-width: 550px){
    .me{
        height: 300px;
    }

    .about-me{
        margin-top: 200px;
    }
}

@media only screen and (min-width: 650px){
    .about-hero{
        display: flex;
        height: 25vh;
    }

    .about-hero-stmt{
        width: 50%;
    }

    .me{
        width: 45%;
        height: 175px;
        margin: 0;
        margin-left: auto;
    }

    .about-me{
        margin-top: 75px;
    }

    .about-section-title{
        width: 5%;
    }

}

@media only screen and (min-width: 800px){
    .me{
        width: 350px;
        height: 200px;
    }

    .about-section-title{
        width: 3%;
    }
}

@media only screen and (min-width: 1050px){
    .me{
        width: 450px;
        height: 300px;
    }

    .about-hero{
        height: 80vh;
        align-items: center;
        margin: 0;
    }

    .about-section-title{
        margin-left: 30px;
        font-size: 1.5em;
    }

    .about-hero-stmt{
        font-size: 1.6em;
        margin-left: 30px;
        width: 40%;
    }

    .about-me{
        margin: 100px 30px 0 30px;
    }

    .title{
        font-size: 1.5em;
    }

    .unrelated-facts{
        margin: 50px 30px;
    }

    p{
        font-size: 1.2em;
    }
}