/*mobile*/
.hero-bg-img{
    width: 100%;
    position: absolute;
    top: 0%;
}

.hero-info{
    margin-left: 10px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-stmt{
    font-size: 1em;
    width: 75%;
}

.hero-git-title{
    font-size: 0.75em;
}

.hero-git-icon{
    width: 25%;
}

.git-link-btn{
    margin-top: 10px;
    height: 30px;
    width: 120px;
    font-size: 0.6em;
    background-color: #00B1FF;
    border-color: #00B1FF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.hero-git-link{
    z-index: 5;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-section{
    margin-top: 65px;
    margin-left: 10px;
    margin-right: 10px;
}

.section-title{
    font-size: 1em;
}

.project-container{
    width: 100%;
}

.project-item{
    width: 100%;
    margin-top: 30px;
}

.project-name{
    font-size: 0.75em;
}

.project-img{
    width: 100%;
}

.project-description{
    font-size: 0.75em;
}

.see-code{
    height: 30px;
    width: 100px;
    font-size: 0.75em;
    background-color: #00B1FF;
    border-color: #00B1FF;
    color: white;
    margin-top: auto;
    font-family: nunito;
    cursor: pointer;
}


.contact-section{
    margin-top: 30px;
}

.contact-info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-stmt{
    z-index: 5;
    font-size: 1em;
    width: 50%;
}

.contact-btn{
    z-index: 5;
    height: 30px;
    width: 100px;
    font-size: 0.75em;
    background-color: #00B1FF;
    border-color: #00B1FF;
    color: white;
    cursor: pointer;
}



.contact-img{
    position: absolute;
    width: 100%;
}

/*desktop */
@media only screen and (max-width: 1550px)
{
.hero-bg-img{
    position: absolute;
    top: 0%;
    transform: translate(0%, 0%);
    width: 100%;
    z-index: 0;
}

.hero-info{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15%;
}

.git-container{
    margin-top: 45px;
}

.hero-stmt{
    width: 45%;
    margin-left: 30px;
    margin-bottom: 0;
    z-index: 5;
    font-size: 2.75em;
    font-family: nunito;
    font-weight: bold;
}

.hero-git-title{
    margin-left: 30px;
    font-size: 1.75em;
    font-family: nunito;
    font-weight: bold;
}

.hero-git-link{
    z-index: 6;
    position: absolute;
}

.hero-git-icon{
    margin-left: 10px;
    z-index: 5;
}

.hero-page{
    height: 60vh;
}

.section-title{
    margin-top: 180px;
    font-family: nunito;
}

.project-section{
    margin-left: 30px;
}

.project-container{
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
}

.project-item{
    width: 475px;
    height: 575px;
}

.project-name{
    font-family: nunito;
}

.project-description{
    width: 100%;
    font-family: nunito;
}

.git-link{
    width: 150px;
}

.div{
    height: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.see-code{
    height: 50px;
    width: 150px;
    font-size: 0.75em;
    background-color: #00B1FF;
    border-color: #00B1FF;
    color: white;
    margin-top: auto;
    font-family: nunito;
}

.see-code:hover{
    cursor: pointer;
    color: #00B1FF;
    background-color: white;
    font-weight: bold;
}

.contact-section{
    margin-top: 180px;
}

.contact-img{
    position: absolute;
    width: 100%;
    z-index: 0;
}

.contact-info{
    margin-left: 30px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-stmt{
    z-index: 5;
    font-size: 2.75em;
    width: 50%;
}

.contact-link{
    z-index: 5;
    margin-top: 50px;
}

.contact-btn{
    z-index: 5;
    height: 50px;
    width: 150px;
    font-size: 0.75em;
    background-color: #00B1FF;
    border-color: #00B1FF;
    color: white;
    letter-spacing: 0.25em;
}

.contact-btn:hover{
    cursor: pointer;
    color: #00B1FF;
    background-color: white;
    font-weight: bold;
}
}