.hero-bg-img{
    position: absolute;
    top: 0%;
    transform: translate(0%, 0%);
    width: 100%;
    z-index: 0;
}

.hero-info{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15%;
}

.git-container{
    margin-top: 45px;
}

.hero-stmt{
    width: 45%;
    margin-left: 30px;
    margin-bottom: 0;
    z-index: 5;
    font-size: 2.75em;
    font-family: nunito;
    font-weight: bold;
}

.hero-git-title{
    margin-left: 30px;
    font-size: 1.75em;
    font-family: nunito;
    font-weight: bold;
}

.hero-git-link{
    z-index: 6;
    position: absolute;
}

.hero-git-icon{
    margin-left: 10px;
    z-index: 5;
}

.hero-page{
    height: 60vh;
}

.section-title{
    margin-top: 180px;
    font-family: nunito;
}

.project-section{
    margin-left: 30px;
}

.project-container{
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
}

.project-item{
    width: 475px;
    height: 575px;
}

.project-title{
    font-family: nunito;
}

.project-description{
    width: 100%;
    font-family: nunito;
}

.git-link{
    width: 150px;
}

.div{
    height: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.see-code{
    height: 50px;
    width: 150px;
    font-size: 0.75em;
    background-color: #00B1FF;
    border-color: #00B1FF;
    color: white;
    margin-top: auto;
    font-family: nunito;
}

.see-code:hover{
    cursor: pointer;
    color: #00B1FF;
    background-color: white;
    font-weight: bold;
}