/*mobile*/
.tab{
    width: 125px;
    height: 50px;
    background-color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(252, 243, 223);
    z-index: 5;
}
.my-name{
    text-align: center;
    margin: 0;
    font-family: nunito;
    font-size: 1em;
}

.my-role{
    text-align: center;
    margin: 0;
    font-family: nunito;
    font-size: 0.75em;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hamburger{
    height: 30px;
    width: 30px;
    z-index: 10;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 10px;
}

.line{
    height: 3px;
    width: 30px;
    background-color: black;
    margin: 5px;

}

.nav-links{
    display: none;
}

.nav-links-toggled{
    list-style: none;
    position: absolute;
    top: -2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 89%;
    height: 102vh;
    transition: 1s ease-out;
    background-color: lightgray;
    pointer-events: all;
    z-index: 10;
}

.isActive{
    font-weight: bold;
    color: #00B1FF;
}

a{
    text-decoration: none;
    font-family: nunito;
    font-size: 1.5em;
    color: black;
    z-index: 5;
}


/*Desktop*/
@media only screen and (min-width: 1050px){
.nav{
    z-index: 5;
    display: flex;
    justify-content: space-between;
}
.tab{
    width: 250px;
    height: 75px;
    background-color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(252, 243, 223);
    z-index: 5;
}

.my-name{
    text-align: center;
    margin: 0;
    font-family: nunito;
}

.my-role{
    text-align: center;
    margin: 0;
    font-family: nunito;
}

.nav-links{
    width: 25%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 45px;
    z-index: 5;
}

.isActive{
    font-weight: bold;
    color: #00B1FF;
}

a{
    text-decoration: none;
    font-family: nunito;
    font-size: 1.5em;
    color: black;
    z-index: 5;
}
}