

.tab{
    width: 250px;
    height: 75px;
    background-color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-name{
    text-align: center;
    margin: 0;
    font-family: nunito;
}

.my-role{
    text-align: center;
    margin: 0;
    font-family: nunito;
}

.nav-links{
    width: 25%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 45px;
}

.isActive{
    font-weight: bold;
    color: #00B1FF;
}

a{
    text-decoration: none;
    font-family: nunito;
    font-size: 1.25em;
    color: black;
}
